<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css')}}"/>
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
<div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <h1>Simple File Server </h1>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none"
               href="/about">About
            </a>
            <a class="me-3 py-2 text-dark text-decoration-none"
               href="/uploads">Upload
                files</a>
        </nav>
    </div>
</div>
{% block body %}{% endblock %}
</body>
<footer class="container blog-footer">
  <p>
    <a href="/">Back to top</a>
  </p>
</footer>
</html>